<p style="color: green"><%= notice %></p>

<%= render @life %>

<div>
  <%= link_to "お笑いライブを編集する", edit_life_path(@life) %> |
  <%= link_to "お笑いライブ一覧へ戻る", lives_path %>

  <%= button_to "お笑いライブを削除する", @life, method: :delete %>
</div>
